---
const socials: ({ label: string; href: string } | "divider")[] = [
    {
        label: "email",
        href: "mailto:mukhutdinov.ruslan@gmail.com",
    },
    "divider",
    {
        label: "github",
        href: "https://github.com/bananruslan",
    },
    "divider",
    {
        label: "linkedin",
        href: "https://www.linkedin.com/in/ruslan-banan/",
    },
    "divider",
    {
        label: "telegram",
        href: "https://t.me/zzzveroboy",
    },
    "divider",
    {
        label: "cv",
        href: "https://career.habr.com/spar-175733",
    },
];

const { mobile } = Astro.props;
---

<div class={"socials" + (mobile ? " mobile" : "")}>
    {
        socials.map((social) =>
            social === "divider" ? (
                <div class="divider" />
            ) : (
                <a href={social.href} target="_blank" class="social-link">
                    {social.label}
                </a>
            ),
        )
    }
</div>

<style>
    .socials {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 26px;
        font-size: 24px;
        font-weight: 200;

        .social-link {
            color: #000;
        }

        .divider {
            min-width: 6px;
            height: 6px;
            background-color: #000;
            border-radius: 50%;
        }

        &.mobile {
            flex-direction: column;
            font-size: inherit;
            align-items: flex-end;
            position: absolute;
            right: 24px;
            bottom: 64px;
            gap: 12px;

            .social-link {
                color: #fff;
            }

            .divider {
                background-color: #fff;
            }
        }
    }
</style>
