---
import "@fontsource-variable/bricolage-grotesque";
import Ticker from "../components/Ticker.astro";
import Socials from "../components/Socials.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>Ruslan Mukhutdinov</title>
        <script
            defer
            src="https://analytics.webbaboon.ru/script.js"
            data-website-id="23bc5278-17d4-4f39-a805-42d87b02267e"></script>
    </head>
    <body>
        <div class="unsupported-screen">
            unsupported screen :)
            <Socials mobile />
        </div>

        <div class="layout">
            <div class="container">
                <slot />
            </div>
            <Ticker />
            <div class="shadow"></div>
            <div class="noise"></div>
        </div>
    </body>
</html>

<style>
    html,
    body {
        background: #ff0000;
        margin: 0;
        width: 100%;
        height: 100%;
        font-family: "Bricolage Grotesque Variable";
        overscroll-behavior: none;
    }

    body {
        display: flex;
    }

    .layout {
        display: flex;
        width: 100%;
    }

    .container {
        position: relative;
        overflow: hidden;
        flex-grow: 1;
        margin: 36px;
        padding: 16px;
        border-radius: 16px;
        background-color: #fff;
    }

    .shadow {
        box-shadow: inset 0px 0px 24px rgba(0, 0, 0, 0.4);
        position: fixed;
        inset: 36px;
        pointer-events: none;
        border-radius: 16px;
    }

    .noise {
        background-image: url(/noise.png);
        position: fixed;
        inset: 0;
        pointer-events: none;
        image-rendering: pixelated;
    }

    .unsupported-screen {
        position: fixed;
        inset: 0;
        background: black;
        color: white;
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 9999;
        flex-direction: column;
        gap: 32px;
    }

    @media (max-width: 1199px) {
        body {
            background: black;
        }

        .unsupported-screen {
            display: flex;
        }

        .layout {
            display: none;
        }
    }
</style>
